<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Personnel department</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<form class="exit" action="/">
    <input class="exit" type="submit" value="EXIT">
</form>
<div><h3 class="color-align">Welcome to cabinet of the personnel Department</h3></div>
<ol>
    <li><a class="color-red" href="/pd/users">List of employees company "BelTelVelPorDirZovKolTrest"</a></li>
    <li><a>List of employees company ...</a></li>
    <li><a>List of employees company ......</a></li>
    <li><a>List of employees company .........</a></li>
</ol>
</body>
</html>